{% extends "base.html" %}
{% block title %}AlertAI - Login{% endblock %}

{% block page_content %}
<section class="add-camera">

    <div class="add-camera-popup">
        <i class="fa-solid fa-xmark add-camera-popup-icon" id="close-camera-popup"></i>

        <div class="add-camera-popup-container-map">
            <input type="text" placeholder="Enter the ubication" class="add-camera-popup-map-input" id="place_input" >
            <button class="add-camera-popup-map-buttton">Register</button>
            <div id="map" class="add-camera-popup-map"></div>
        </div>


    </div>

    <form method="post" class="add-camera-form">
        {{ form.csrf_token }}

        <div class="add-camera-form-left-side">
        
            <h1 class="add-camera-form-title">Camera Information</h1>

            <i class="fa-solid fa-pencil add-camera-icon"></i>
            {{ form.name(class='add-camera-input', placeholder="Camera Name", autoComplete="off") }}

            <i class="fa-solid fa-phone add-camera-icon"></i>
            {{ form.phone_number(class='add-camera-input', placeholder="Phone Number", maxlength="10", autoComplete="off") }}

            <i class="fa-solid fa-location-dot add-camera-icon"></i>
            {{ form.address(placeholder="Location Camera", class="add-camera-input", autoComplete="off")  }}

        </div>
        
        <div class="add-camera-form-right-side">

            <h1 class="add-camera-form-title">Camera Configuration</h1>

            <div class="add-camera-type-camera">
                <h3 class="add-camera-type-camera-question">What type of camera do you want to enter?</h3>
                <br>   
                <label class="add-camera-type-camera-selection">
                    <input type="radio" name="{{ form.camera_type.name }}" value="WebCamera" id="WebCamera"> Web Camera
                </label>
                <br>
                <label class="add-camera-type-camera-selection">
                    <input type="radio" name="{{ form.camera_type.name }}" value="SecurityCamera" id="SecurityCamera"> Security Camera 
                </label>
            </div>
            <br>


            {{ form.url(placeholder="URL camera", class='add-camera-input', autoComplete="off")  }}
            
            {{ form.place(class="add-camera-alert-select", id="place-select") }}

        
            <h2 class="add-camera-type-camera-question" id="personalized-alert-title">Types of alerts you would like to be notified of</h2>
        
            <div class="add-camera-alerts" id="personalized-alert">
                
            <label class="add-camera-alert-container">
                <h3 class="add-camera-alert-name">Fires</h3> 
                <i class="fa-solid fa-house-fire add-camera-icon-alert"></i>
                {{ form.fires(type="checkbox") }}
            </label>
            


            <label class="add-camera-alert-container">
                <h3 class="add-camera-alert-name">Bladed weapons</h3>
                <i class="fa-solid fa-wand-sparkles add-camera-icon-alert"></i>
                {{ form.bladed_weapon(type="checkbox") }}
            </label>



            <label class="add-camera-alert-container">
                <h3 class="add-camera-alert-name">Hand Gun</h3>
                <i class="fa-solid fa-gun add-camera-icon-alert"></i>
                {{ form.handgun(type="checkbox") }}
            </label>


            <label class="add-camera-alert-container">
                <h3 class="add-camera-alert-name">Long Gun</h3>
                <i class="fa-solid fa-gun add-camera-icon-alert"></i>
                {{ form.long_gun(type="checkbox") }}
            </label>

            <label class="add-camera-alert-container">
                <h3 class="add-camera-alert-name">Cannoning</h3>
                <i class="fa-solid fa-people-robbery add-camera-icon-alert"></i>
                {{ form.cannoning(type="checkbox") }}
            </label>

            <label class="add-camera-alert-container">
                <h3 class="add-camera-alert-name">Car Accident</h3>
                <i class="fa-solid fa-car-burst add-camera-icon-alert"></i>
                {{ form.car_accident(type="checkbox") }}               
            </label>

            <label class="add-camera-alert-container">
                <h3 class="add-camera-alert-name">Dog Atack</h3>
                <i class="fa-solid fa-paw add-camera-icon-alert"></i>
                {{ form.dog_attack(type="checkbox") }}
            </label>

            <label class="add-camera-alert-container">                  
                <h3 class="add-camera-alert-name">Brawls</h3>
                <i class="fa-solid fa-user-ninja add-camera-icon-alert"></i>
                {{ form.brawls(type="checkbox") }}            
            </label>

            <label class="add-camera-alert-container">                    
                <h3 class="add-camera-alert-name">Injured People</h3>
                <i class="fa-solid fa-person-falling-burst add-camera-icon-alert"></i>
                {{ form.injured_people(type="checkbox") }}                
            </label>
        </div> 
        
        <div class="add-camera-form-bottom-side">
            <button class="add-camera-form-button" type="submit">
                Save
            </button>
        </div>

    </form>

</section>
<!-- <script src="js/googleMap.js"></script>
<script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCHOslXEWFjWLvxr2EPcxER3QC44_T1sgY&libraries=places&callback=initMap"></script> -->
<script src="{{ url_for('static', filename='Js/addCameraDOM.js') }}"></script>
<script src="{{ url_for('static', filename='Js/googleMapPopup.js') }}"></script>
<script src="{{ url_for('static', filename='Js/googleMapService.js') }}"></script>

{% endblock page_content %}

