{% extends "base.html" %}

{% block title %}AlertAI - notification{% endblock %}

{% block page_content %}

    <h1>Seccion de detalles</h1>

    <h2>{{ load_notification.id }}</h2>

    <h4>{{ load_notification.date_time }}</h4>
    <h4>{{ load_notification.place }}</h4>
    <h4>{{ load_notification.threat }}</h4>
    <h4>{{ load_notification.camera_name }}</h4>
    <h4>{{ load_notification.certainty }}</h4>

    <img src="data:image/png;base64,{{ load_notification.image }}" alt="Imagen de la notificación">

    <a href="{{ url_for('alert.notifications') }}">Regresar al panel de notificaciones</a>
{% endblock %}