{% extends "base.html" %}

{% block title %}AlertAI - notification{% endblock %}

{% block page_content %}

<div class="notification-details">
    <h1 class="details-header">Sección de detalles</h1>

    <div class="notification-info">
        <h4>Fecha y Hora: {{ load_notification.date_time }}</h4>
        <h4>Lugar: {{ load_notification.place }}</h4>
        <h4>Amenaza: {{ load_notification.threat }}</h4>
        <h4>Nombre de la Cámara: {{ load_notification.camera_name }}</h4>
        <h4>Certeza: {{ load_notification.certainty }}</h4>
    </div>

    <div class="notification-image">
        <img src="data:image/png;base64,{{ load_notification.image }}" alt="Imagen de la notificación">
    </div>

    <button class="back-button" onclick="redirectToPage('/alert/notifications')">Regresar al panel de notificaciones</button>
</div>
{% endblock %}