{% extends "base.html" %}

{% block title %}AlertAI - notification{% endblock %}

{% block page_content %}

  {% include 'sidebar.html' %}

  <div class="container-main">
    <h1>Notifications</h1>

    <form method="post" action="{{ url_for('alert.notifications') }}">
        <button type="submit" class="btn btn-primary">Notificar</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div id="flash-container">
          {% for category, message in messages %}
            <div class="flash flash-{{ category }}">
              <p>{{ message }}</p>
            </div>
          {% endfor %}
        </div>
        <meta http-equiv="refresh" content="2;url={{ url_for('alert.notifications') }}">
      {% endif %}
    {% endwith %}


    {% if load_notifications %}

        <form method="post" action="{{ url_for('alert.search') }}" class="search-form">
            <input type="text" name="search" placeholder="Busque aqui :D" class="search-input">
            <button type="submit" class="search-button">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>

        <div class="notifications-buttons">
          <button onclick="window.location.href='{{ url_for('alert.filter_starred') }}'" class="search-button delete-all-notification">
            Filtrar destacadas 
            <i class="fa-solid fa-filter"></i>
          </button>

          <button onclick="redirectToPage('/alert/notifications')" class="search-button delete-all-notification">Quitar filtros de busqueda</button>

          <button class="back-face-delete-button delete-all-notification" onclick="confirmDeletion('/alert/deleteAllNotifications', 'Do you want delete all notifications?')">
            Delete all notifications
            <i class="fa-solid fa-trash-can"></i>
          </button>
        </div>

        <ul class="list_notifications">
            {% for notification in load_notifications %}

              {% if notification.read and notification.starred == false%}
                  <li style="background-color: #808080;" class="element_notification">
              {% elif notification.starred %}
                  <li style="background-color: #FFD700;" class="element_notification">
              {% else %}
                  <li style="background-color: #ADD8E6;" class="element_notification">
              {% endif %}

              <div class="span-notification">
                  <span class="text-notification">{{ notification.camera_name }}</span> 
                  <span class="text-notification">{{ notification.date_time }}</span>
                  <span class="text-notification">{{ notification.threat }}</span>
              </div>

                  <div class="buttons_notifications">
                    <button class="back-face-edit-button" onclick="redirectToPage('/alert/notifications/view/{{notification.id}}')">
                      <i class="fa-solid fa-eye"></i>
                    </button>
  
                    <button class="starred-button" onclick="redirectToPage('/alert/add-QuitStarred/{{ notification.id }}')">

                      {% if notification.starred %}
                        <i class="fa-solid fa-star"></i>
                      {% else %}
                        <i class="fa-regular fa-star"></i>
                      {% endif %}
                    </button>
                    <button class="back-face-delete-button" onclick="confirmDeletion('/alert/notifications/delete/{{notification.id}}', 'Do you want delete this notification?')">
                      <i class="fa-solid fa-trash-can"></i>
                    </button>
                  </div> 
                  
                </li>
            {% endfor %}
        </ul>

        <div class="pagination">
          {% if pagination.has_prev %}
            <a href="{{ url_for('alert.notifications', page=pagination.prev_num) }}" class="pagination-prev">
              <i class="fa-solid fa-arrow-left"></i>
            </a>
          {% endif %}
          <span class="pagination-text"> Página {{ pagination.page }} de {{ pagination.pages }} </span>
          {% if pagination.has_next %}
            <a href="{{ url_for('alert.notifications', page=pagination.next_num) }}" class="pagination-next">
              <i class="fa-solid fa-arrow-right"></i>
            </a>
          {% endif %}
        </div>
    {% else %}
        <a href="{{ url_for('alert.notifications') }}">Quitar filtros de busqueda</a>
        <p>No hay notificaciones</p>
    {% endif %}
  </div>

{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='Js/confirmDelete.js') }}"></script>
    {{ super() }}
{% endblock %}