{% extends "base.html" %}

{% block title %}AlertAI - notification{% endblock %}

{% block page_content %}

  {% include 'sidebar.html' %}

  <div class="container-main">
    <h1>Blueprint notificaciones</h1>

    <form method="post" action="{{ url_for('alert.notifications') }}">
        <button type="submit" class="btn btn-primary">Notificar</button>
    </form>

    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        <div id="flash-container">
          {% for category, message in messages %}
            <div class="flash flash-{{ category }}">
              <p>{{ message }}</p>
            </div>
          {% endfor %}
        </div>
        <meta http-equiv="refresh" content="2;url={{ url_for('alert.notifications') }}">
      {% endif %}
    {% endwith %}


    {% if load_notifications %}

        <form method="post" action="{{ url_for('alert.search') }}">
            <input type="text" name="search" placeholder="Busque aqui :D">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
        <button onclick="window.location.href='{{ url_for('alert.filter_starred') }}'">
          Filtrar destacadas
        </button>

        <a href="{{ url_for('alert.notifications') }}" class="btn btn-primary">Quitar filtros de busqueda</a>

        <button class="back-face-delete-button" onclick="confirmDeletion('/alert/deleteAllNotifications', 'Do you want delete all notifications?')">
          Delete all notifications
          <i class="fa-solid fa-trash-can"></i>
        </button>

        <h2>notificaciones</h2>
        <ul>
            {% for notification in load_notifications %}

              {% if notification.read and notification.starred == false%}
                  <li style="background-color: #808080;" id="notification_{{ notification.id }}" onclick="viewNotification('{{ notification.id }}')">
              {% elif notification.starred %}
                  <li style="background-color: #FFD700;" id="notification_{{ notification.id }}" onclick="viewNotification('{{ notification.id }}')">
              {% else %}
                  <li style="background-color: #ADD8E6;" id="notification_{{ notification.id }}" onclick="viewNotification('{{ notification.id }}')">
              {% endif %}

                  {{ notification.camera_name }} - {{ notification.date_time }} 
                  <form method="post" action="{{ url_for('alert.delete_notification', notification_id=notification.id) }}">
                    <button type="submit" class="btn btn-danger">Borrar</button>
                  </form>

                  <form method="post" action="{{ url_for('home.report_notification', id_notification=notification.id) }}">
                    <button type="submit" class="btn btn-danger">Reportar</button>
                  </form>

                  <form method="post" action="{{ url_for('alert.add_quit_starred', notification_id = notification.id)}}">
                    <button>
                      {% if notification.starred %}
                        Eliminar de destacadas
                      {% else %}
                        Añadir a destacadas
                      {% endif %}
                    </button>
                  </form>
                </li>
            {% endfor %}
        </ul>

        <div class="pagination">
          {% if pagination.has_prev %}
            <a href="{{ url_for('alert.notifications', page=pagination.prev_num) }}">Anterior</a>
          {% endif %}
          <span> Página {{ pagination.page }} de {{ pagination.pages }} </span>
          {% if pagination.has_next %}
            <a href="{{ url_for('alert.notifications', page=pagination.next_num) }}">Siguiente</a>
          {% endif %}
        </div>
    {% else %}
        <a href="{{ url_for('alert.notifications') }}">Quitar filtros de busqueda</a>
        <p>No hay notificaciones</p>
    {% endif %}
  </div>

{% endblock %}

{% block scripts %}
  <script>
    function viewNotification(notificationId) {
        window.location.href = "{{ url_for('alert.view_notification', notification_id='') }}" + notificationId;
    }
  </script>
  <script src="{{ url_for('static', filename='Js/confirmDelete.js') }}"></script>
    {{ super() }}
{% endblock %}