alembic==1.11.1
click==7.1.2
Flask==1.1.4
Flask-Bootstrap==3.3.7.1
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-Moment==1.0.5
Flask-WTF==1.2.0
itsdangerous==1.1.0
Jinja2==2.11.3
markupsafe==2.0.1
six==1.16.0
Werkzeug==1.0.1
WTForms==3.0.1
pymongo==3.12.0
flask_mongoengine==1.0.0
pillow==9.5.0
opencv-python
colorama
tensorflow==2.16.1
keras==3.3.3
mongoengine
twilio