{% extends "base.html" %}
{% block title %}AlertAI - Reset Password Request{% endblock %}


{% block page_content %}
  
<section class="change_password">

    <h3 class="reset-password-advice">Please enter the new password</h3>

    <form method="post" class="change-password-request-form">
        {{ form.csrf_token }}
        {# This input form should have her own css classes #}
        {{ form.password(class="change-password-request-form-input", placeholder="Password", autoComplete="off")}}
        {{ form.password2(class="change-password-request-form-input", placeholder="Confirm Password", autoComplete="off")}}

        <button class="change-password-request-form-button" type="submit">Change</button>

    </form>

</section>
{% endblock %}