{% extends "base.html" %}
{% block title %}AlertAI - Token{% endblock %}

{% block page_content %}
<body>
    <section class="token">
        
        <i class="fa-regular fa-envelope-open token-email-open-icon"></i>
        <i class="fa-regular fa-envelope  token-email-closed-icon"></i>
        
        <label for="otp-input">
            <p class="token-notification">We send an email to your email with a unique code, please review it and enter that same code below:</p>
            <p class="token-notification">The token has a life time of 3 minutes, after this time the token will expire</p>
        </label>
            
        <form method="post" class="token-form">
            {{ form.csrf_token }}

            {{ form.token(id="otp-input", type="text", autocomplete="one-time-code", inputmode="numeric", maxlength="5") }}

            <button class="token-button" type="submit">Confirm Token</button>
        </form>

        
        <p class="resend-token-link">Did you not receive any token? <a href="{{url_for('auth.resend_confirmation')}}">Send again</a></p>
    </section>
</body>
<script>
    const input = document.querySelector('[autocomplete=one-time-code'); 
    input.addEventListener('input', () => input.style.setProperty('--_otp-digit', input.selectionStart)); 
</script>
{% endblock %}
