{% extends "base.html" %}
{% block title %}AlertAI - Login{% endblock %}


{% block page_content %}
  
<section class="login">
    <div class="login-wrapper"> 
        <div class="login-info">
            <i class="fa-solid fa-door-open return-icon" onclick="redirectToPage('/')"></i>
            <div class="content-info">
                <p class="info-paragraph">{{phrase}}</p>
                <i class="{{icon}}"></i>
            </div>


        </div>

        <form class="login-form-wrapper" method="post">
            {{ form.csrf_token }}

            <img src="../../static/img/alert-whole-logo.jpg" alt="logo.jpg" class="login-logo">

            <i class="fa-solid fa-envelope login-icon"></i>
            {{ form.email(class="login-form-input", placeholder="Email") }}

            <i class="fa-solid fa-lock login-icon" ></i>
            {{ form.password(class="login-form-input", placeholder="Password") }}

            <button class="login-form-button" type="submit"> 
                Log In 
                <i class="fas fa-angle-double-right btn-arrow"></i>
            </button>

            <p class="signup-link">You don't have account yet? <a href="{{ url_for('auth.signup') }}">Click here</a> </p>
            <p class="restore-password-link">Forgot your password? <a href="{{ url_for('auth.password_reset_request') }}">Click here</a> </p>

        </form>

    </div>
</section>
{% endblock %}