{% extends "base.html" %}
{% block title %}Flasky - Login{% endblock %}


{% block page_content %}
<section class="login">
    <div class="login-wrapper"> 
        <div class="login-info">
            <i class="fa-solid fa-door-open return-icon"></i>
            <div class="content-info">
                <p class="info-paragraph">Did you know that Alert AI can detect more than 10 different accidents?</p>
                <i class="fa-solid fa-globe info-icon"></i>
            </div>


        </div>
        <div class="login-form-wrapper">

            <img src="../../static/img/alert-whole-logo.jpg" alt="logo.jpg" class="login-logo">
            <i class="fa-solid fa-user login-icon" ></i>
            <input type="text" placeholder="Username" class="login-form-input">
            <i class="fa-solid fa-lock login-icon" ></i>
            <input type="password" placeholder="Password" class="login-form-input">
            <button class="form-button">
                Log In 
                <i class="fas fa-angle-double-right btn-arrow"></i>
            </button>

            <p class="signup-link">You don't have account yet? <a href="#" class="">Click here</a> </p>

        </div>

    </div>
</section>
{% endblock page_content %}