{% extends "base.html" %}
{% block title %}AlertAI - Login{% endblock %}

{% block page_content %}
<section class="supervisor-panel">
    <nav class="navbar-supervisor">
        <button class="navbar-supervisor-button" onclick="redirectToPage('/admin/cameras')">Camera</button>
        <button class="navbar-supervisor-button" onclick="redirectToPage('/admin/reports')">Reports</button>
    </nav>
    <div class="supervisor-container">
        {% for report in reports %}
            {{ report.date_time }}
            {{ report.label }}
            <form method="post" action="{{ url_for('admin.report_panel', report_id=report.id) }}">
                <button type="submit" class="btn btn-danger">Ver</button>
              </form>

        {% endfor %}
    </div>
</section>
{% endblock %}
