:root{
    --fuentePersonalizada: 'Kanit', sans-serif;

    --amarillo: #FFD700;
    --grisOscuro: #333333;
    --grisClaro: #CCCCCC;
    --blanco: #FFFFFF;
    --azul: #002366;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    font-family: var(--fuentePersonalizada);
    font-size: 1.6rem;
    line-height: 2;
    background: var(--grisOscuro);
    margin: 0;
    padding: 0;
}

/**Globales**/
h1, h2, h3, h4 {
    font-family: var(--fuentePersonalizada);
    font-weight: 700;
    line-height: 1.2;
    color: var(--blanco);
}
h1 {
    font-size: 4.8rem;
}
h2 {
    font-size: 4rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2.8rem;
}
.contenedor {
    width: min(90%, 120rem);
    margin: 0 auto;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
p{
    color: var(--blanco);
}
.boton:hover{
    cursor: pointer;
    background-color: var(--blanco);
   color: var(--azul);
}
/**Utilidades**/
.noMargin {
    margin: 0;
}
.noPadding {
    padding: 0;
}
.centrarTexto {
    text-align: center;
}

/**Header**/
.header {
    background-image: url(../img/baner.jpg);
    height: 60rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
.header__texto {
    text-align: center;
    color: var(--blanco);
    margin-top: 5rem;
}
@media (min-width: 768px) {
    .header__texto {
        margin-top: 15rem;
    }
}
.barra {
    padding-top: 4rem;
}
@media (min-width: 768px) {
    .barra {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .navegacion {
        display: flex;
        gap: 1.5rem;
    }
}
.logo {
    color: var(--blanco);
}
.logo__nombre {
    font-weight: 300;
}
.logo__bold {
    font-weight: 700;
}
.navegacion__enlace{
    color: var(--blanco);
    display: block;
    text-align: center;
    font-size: 1.8rem;
}
.conFondo{
    background-color: var(--blanco);
    color: var(--azul);
    padding: .3rem;
    border-radius: .5rem;
}
.conFondo:hover{
    background-color: var(--azul);
    color: var(--blanco);
}
/**Footer**/
.footer {
    margin-top: 4rem;
    background-color: var(--azul);
    padding-bottom: 3rem;
}
@media (min-width: 768px) {
    .parrafo__footer{
        display: flex;
        align-items: center;
    }
    .parrafo__footer p{
        margin-right: 1rem;
    }
}
/**Informacion**/
.informacion {
    padding: 3rem 0;
    border-bottom: 1px solid var(--gris);
}
@media (min-width: 768px) {
    .informacion {
        display: grid;
        grid-template-columns: 1fr 2fr;
        column-gap: 2rem;
    }
    .informacion__segunda{
        grid-template-columns: 2fr 1fr;
    }
    .informacion__texto--segunda{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    .informacion__imagen--segunda{
        grid-column: 2 / 3;
    }
}
.curso:last-of-type {
    border: none;
}

/**Login**/
.sombra{
    box-shadow: 0px 6px 5px 5px rgba(0,0,0,0.56);
    background-color: var(--azul);
    padding: 2rem;
    border-radius: 1rem;
}
@media (min-width: 768px) {
    .contenedor__formulario{
        width: min(60%, 120rem);
    }
}
.formulario{
    background-color: var(--grisClaro);
    width: min(60rem, 100%);
    margin: 0 auto;
    padding: 2rem;
    border-radius: 1rem;
}

.formulario fieldset{
    border: none;
}
.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--azul);
}
.campo{
    margin-bottom: 1rem;
    align-items: center;
}
.campo label{
    color: var(--azul);
    font-weight: bold;
    margin-bottom: .5rem;
    display: block;
}
.input-text{
    padding: 1.5rem;
    border-radius: .5rem;
    border: none;
    width: 100%;
}

/**Boton**/
.boton{
    background-color: var(--azul);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 100%;
    text-align: center;
    border: none;
}


  /* panel_camaras */
.panel_camaras{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    row-gap: 2rem;
}
.elemento__panel_camaras{
background-color: var(--azul);
}
.texto__panel_camaras{
font-weight: bold;
font-size: 2rem;
}
/* Cosas que carlos le movio */
/* Para que las camaras se vean  */

.camera-folder {
    height: 240px;
    width: 300px;
    transition: 1.5s;
    overflow: hidden;
    position: relative;
}

.camera-name {
    margin-top: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: Arial;
}

.camera-folder img {
    border-radius : 20px;
    height: 200px;
    width: 300px;
}

.camera-options {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    border-radius : 20px;
}

.camera-options i {
    margin-right: 10px; /* Agrega espacio a la derecha del primer ícono */
    cursor: pointer;
}

.camera-options i:last-child {
    margin-right: 0; /* Elimina el margen derecho del último ícono */
    margin-left: 10px; /* Agrega espacio a la izquierda del último ícono */
}

.camera-folder:hover img {
    filter: brightness(0.7);
}

.camera-folder:hover .camera-options {
    opacity: 1;
}

.camera-folder:hover {
    transform: scale(1.1);
    transition: 1.5s;
}


/* API google maps */

.close {
    border-radius: 10px;
    background-color: rgb(60, 58, 111);
    cursor: pointer;
}

.close p {
    color: white;
    font-weight: 400;
}

.close:hover {
    background-color: rgb(45, 67, 145);
}

#map {
    height: 550px;
    width: 100% ;
    border-radius: 10px;
}   
#address_input {
    width: 100%;
    height: 40px;
    border-radius: 0;
    border: none;
    font-size: 22px;
}

.cameras-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 20px; /* Agrega un espacio de 20px entre las cámaras */
    margin: 0 60px; /* Margen izquierdo y derecho de 20px */
}


.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(79, 79, 79, 0.70);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.5s, opacity 0.5s;
}

.modal-container.visible {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    font-family: Verdana;
    justify-content: space-around;
    width: 60vw;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.modal-tittle {
    color: black;
    font-size: 24px;
    margin-bottom: 20px;
}

.camera-types {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.camera-type {
    position: relative;
    margin: 50px;
    display: inline-block; 
    text-align: center;
    height: 250px; 
}

.camera-type img {
    height: 200px;
    width: 300px;
    border-radius: 10px;
}

.camera-type h5 {
    font-size: 18px;
}

.slide-title {
    position: absolute;
    bottom: -50px;
    text-align: center;
    width: 100%;
    width: auto;
    opacity: 0;
    transform: translateY(-70%);
    transition: opacity 0.2s, transform 0.3s;
}

.camera-type:hover .slide-title { 
    opacity: 1;
    transform: translateY(0);
}

.poster {
    height: 200px;
    width: 300px;
    border-radius: 10px;
    transition: box-shadow .4s, transform;
    background: center no-repeat;
    background-size: cover;
    position: relative; /* Agregamos posición relativa para que el enlace funcione correctamente */

}
.poster:hover {
    box-shadow: 0px 0px 50px rgba(0,0,0,1);
    cursor: pointer;    
}
.box {
    height: 200px;
    width: 300px;
}



/* Hace que los errores se vean bonitos */
.error-message {
    color: red; 
    font-size: 14px;
    margin-top: 5px; 
}

/* Password */
.password-input {
    position: relative; /* Para que el icono se pueda posicionar sobre el campo de contraseña */
    display: flex;
    align-items: center;
    flex: 1; /* Hace que el campo de contraseña ocupe todo el espacio restante */
}

.password-input input {
    margin-right: 10px; /* Espacio entre el campo de contraseña y el icono */
}

/* Loader */

.lds-grid {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-grid div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    animation: lds-grid 1.2s linear infinite;
}
.lds-grid div:nth-child(1) {
    background: rgb(117, 73, 117);
    top: 8px;
    left: 8px;
    animation-delay: 0s;
}
.lds-grid div:nth-child(2) {
    background: rgb(188, 13, 188);
    top: 8px;
    left: 32px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(3) {
    background: rgb(85, 222, 54);
    top: 8px;
    left: 56px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(4) {
    background: rgb(222, 116, 54);
    top: 32px;
    left: 8px;
    animation-delay: -0.4s;
}
.lds-grid div:nth-child(5) {
    background: rgb(135, 54, 222);
    top: 32px;
    left: 32px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(6) {
    background: rgb(115, 47, 142);
    top: 32px;
    left: 56px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(7) {
    background: rgb(167, 91, 91);
    top: 56px;
    left: 8px;
    animation-delay: -0.8s;
}
.lds-grid div:nth-child(8) {
    background: rgb(25, 22, 71);
    top: 56px;
    left: 32px;
    animation-delay: -1.2s;
}
.lds-grid div:nth-child(9) {
    background: rgb(158, 198, 149);
    top: 56px;
    left: 56px;
    animation-delay: -1.6s;
}
@keyframes lds-grid {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
} 

.loader {
    background: black;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    clip-path: circle(150% at 100% 0);
    transition: clip-path 0.8s ease-in-out;
}
.loader2 {
    clip-path: circle(0% at 100% 100%);
}

.loader-container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

  
/* Flashes bonitos

/* Estilos para los flashes */
.alert {
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
  
.alert.show {
    opacity: 1;
}

.alert-error {
    background-color: #ff4444; /* Color rojo */
    color: white;
}

/* Estilos para la categoría "success" */
.alert-success {
    background-color: #33cc33; /* Color verde */
    color: white;
}

/* Estilos para la categoría "info" */
.alert-info {
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
}



