{% import "bootstrap/wtf.html" as wtf %}

<h1>Blueprint notificaciones</h1>

<form method="post" action="{{ url_for('alert.notifications') }}">
    <button type="submit" class="btn btn-primary">Notificar</button>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <div id="flash-container">
      {% for category, message in messages %}
        <div class="flash flash-{{ category }}">
          <p>{{ message }}</p>
        </div>
      {% endfor %}
    </div>
    <meta http-equiv="refresh" content="2;url={{ url_for('alert.notifications') }}">
  {% endif %}
{% endwith %}


{% if load_notifications %}
    <h2>notificaciones</h2>
    <ul>
        {% for notification in load_notifications %}
            <li>{{ notification.date_time }} - {{ notification.place }} 
              <form method="post" action="{{ url_for('alert.delete_notification', notification_id=notification.id) }}">
                <button type="submit" class="btn btn-danger">Borrar</button>
              </form>
              <img src="data:image/png;base64,{{ notification.image }}" alt="Imagen de la notificación">
            </li>
        {% endfor %}
    </ul>
{% else %}
  <p>No hay notificaciones</p>
{% endif %}