{% import 'macros.html' as macros%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
</head>
<body>
    {% include 'loader.html' %}

    <h3> Por favor ingresa el email del cual desea ingresar la contraseña </h3>
    <form action=" {{ url_for('auth.restore_password') }}" method="POST" class="formulario"> 
        {{ email_form.csrf_token }}
        <fieldset>
            <div class="contenedor-campos">
                <div class="campo">
                    <label>Email</label>
                    {{ email_form.email(class="input-text", placeholder="Ingrese el email") }}
                    {% for error in email_form.email.errors %}
                        <div class="error-message">{{error}}</div>
                    {% endfor %}
                </div>
            </div>
            <div>
                <input class="boton" type="submit" value="Enviar token">
            </div>
        </fieldset>
    </form>
</body>