{% extends "base.html" %}

{% block title %} Secure your life with our technology, AlertAI{% endblock title %}

{% block head %}
{{ super() }}
<meta name="description" content="We are a company specialized in security through our automatic threat detection system through cameras.">
<meta name="keywords" content="Artificial Intelligence, AI, Cameras, Security">
<meta name="author" content="AlertAI">
{% enblock %}

{% block navbar %}
<a href="#" class=".navbar-logo">AlertAI</a>
{% endblock navbar %}


{% block page_content %}
Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, eum unde. Ad, libero quasi, temporibus sit voluptas quibusdam nisi tenetur, itaque ratione laboriosam accusamus sint? Accusantium fugit non sunt consectetur, in ipsa! Earum, quas fuga. Deserunt neque iure pariatur est, voluptatum eligendi omnis? Dolorum quae ducimus atque cupiditate accusantium dolorem dignissimos aliquam consectetur perferendis enim. Quis repudiandae quod quo recusandae non cumque et? Nemo nesciunt ad, blanditiis corporis nostrum non molestiae debitis amet a facere sunt corrupti! Assumenda ex pariatur a quaerat necessitatibus nulla delectus, quisquam sunt et earum quis accusantium ut aperiam? Voluptatem praesentium doloribus tenetur, mollitia modi est!
{% endblock page_content %}

