{% extends "base.html" %}

{% block title %} Secure your life with our technology, AlertAI{% endblock title %}

{% block head %}
{{ super() }}
<meta name="description" content="We are a company specialized in security through our automatic threat detection system through cameras.">
<meta name="keywords" content="Artificial Intelligence, AI, Cameras, Security">
<meta name="author" content="AlertAI">
{% enblock %}

{% block page_content %}
<div class="navbar-alertai">
    <a href=""></a>
</div>
{% endblock page_content %}

