{% import 'macros.html' as macros%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
<body>
    <main class="contenedor__formulario contenedor sombra">
        <h3 class="centrarTexto">Iniciar sesión</h3>
        <form action="{{ url_for('auth.login_page') }}?next={{ request.args.get('next') }}" class="formulario" method="POST">
            {{ login_form.csrf_token }}
            <fieldset>
                <div class="contenedor-campos">
                    <div class="campo">
                        <label for="{{ login_form.email.id }}">Correo</label>
                        {{ login_form.email(class="input-text", placeholder="Ingrese el correo") }}
                        {% for error in login_form.email.errors %}
                            <div class="error-message">{{ error }}</div>
                            <!-- Que salga un mensaje de error mas bonito :( -->
                        {% endfor %}
                    </div>
                    <div class="campo">
                        <label for="{{ login_form.password.id }}">Contraseña</label>
                        {{ login_form.password(class="input-text", placeholder="Ingrese la contraseña") }}
                        {% for error in login_form.password.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div><!--contenedor-campos-->
                <div>
                    <input class="boton" type="submit" value="Ingresar">
                </div>
            </fieldset>
        </form>
        <div>
            <p>¿Olvidaste tu contraseña?
            <a href="{{ url_for('auth.restore_password') }}">Restaurala aqui</a></p>
        </div>
</main>
    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="{{ url_for('index') }}">
                    <h1 class="logo__nombre noMargin centrarTexto">Alert<span class="logo__bold">AI</span></h1>
                </a>
                <div class="parrafo__footer">
                    <p>¿No tienes cuenta? Crea una aquí: </p>
                    <nav class="navegacion">
                        <a class="navegacion__enlace conFondo" href="{{ url_for('auth.signup') }}">Crear cuenta</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>