{% import 'macros.html' as macros%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
</head>
<body>
    {% include 'loader.html' %}

    <h3> Por favor ingresa tu nueva contraseña</h3>
    <form action=" {{ url_for('auth.reset_password') }} " method="POST" class="formulario">
        {{ reset_form.csrf_token }}
        <fieldset>
            <div class="contenedor-campos">
                <div class="campo">
                    <label>Contraseña</label>  
                    <div class="password-input">
                        {{ reset_form.password(class="input-text", placeholder="Ingrese la nueva contraseña", id="password") }}
                        <i id="password-icon" class="fas fa-eye" onclick="togglePasswordVisibility('password')"></i>
                    </div>
                    {% for error in reset_form.password.errors %}
                        <div class="error-message">{{error}}</div>
                    {% endfor %}
                </div>
                <div class="campo">
                    <label>Confirmacion contraseñs</label>
                    <div class="password-input">
                        {{ reset_form.confirm_password(class="input-text", placeholder="Ingrese nuevamente la contraseña", id="confirmation_password") }}
                        <i id="confirmation_password-icon" class="fas fa-eye" onclick="togglePasswordVisibility('confirmation_password')"></i>
                    </div>
                    {% for error in reset_form.confirm_password.errors %}
                        <div class="error-message">{{error}}</div>
                    {% endfor %}
                </div>
                <div>
                    <input class="boton" type="submit" value="Restaurar">
                </div>
            </div>
        </fieldset>
    </form>

    <script src="{{ url_for('static', filename='js/password_toggle.js') }}"></script>
</body>