{% import 'macros.html' as macros%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AlertAI</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;700&display=swap" rel="stylesheet">

    <link rel="preload" href="{{ url_for('static', filename='css/normalize.css') }}" as="style">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css') }}">

    <link rel="preload" href="{{ url_for('static', filename='css/style.css') }}" as="style">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {{ macros.show_flashes() }}
</head>
<body>
    <h3> Por favor ingresa tu nueva contraseña</h3>
    <form action=" {{ url_for('auth.reset_password') }} " method="POST" class="formulario">
        {{ reset_form.csrf_token }}
        <fieldset>
            <div class="contenedor-campos">
                <div class="campo">
                    <label>Contraseña</label>  
                    {{ reset_form.password(class="input-text", placeholder="Ingrese la nueva contraseña") }}
                    {% for error in reset_form.password.errors %}
                        <div class="error">{{error}}</div>
                    {% endfor %}
                </div>
                <div class="campo">
                    <label>Confirmacion contraseñs</label>
                    {{ reset_form.confirm_password(class="input-text", placeholder="Ingrese nuevamente la contraseña") }}
                    {% for error in reset_form.confirm_password.errors %}
                        <div class="error">{{error}}</div>
                    {% endfor %}
                </div>
                <div>
                    <input class="boton" type="submit" value="Restaurar">
                </div>
            </div>
        </fieldset>
    </form>
</body>