{% import 'macros.html' as macros%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
</head>
<body>
    {% include 'loader.html' %}

    <main class="contenedor__formulario contenedor sombra">
        <h3 class="centrarTexto">Crear cuenta</h3>
        <form action="{{ url_for('auth.signup') }}?next={{ request.args.get('next') }}" method="POST" class="formulario">
            {{ signup_form.csrf_token }}
{# Poner a todos el URLFOR #}
            <fieldset>
                <div class="contenedor-campos">
                    <div class="campo">
                        <label for="{{signup_form.username.id}}">
                            Nombre de usuario
                            {{ signup_form.username(class="input-text", placeholder="Ingrese un nombre de usuario") }}

                        </label>
                        {% for error in signup_form.username.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="campo">
                        <label>Correo</label>
                        {{ signup_form.email(class="input-text", placeholder="Ingrese su correo") }}
                        {% for error in signup_form.email.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="campo">
                        <label>Contraseña</label>
                        <div class="password-input">
                            {{ signup_form.password(class="input-text", placeholder="Ingrese una contraseña", id="password") }}
                            <i id="password-icon" class="fas fa-eye" onclick="togglePasswordVisibility('password')"></i>
                        </div>  
                        {% for error in signup_form.password.errors %}
                            <div class="error-message">{{ error }}</div>
                        {% endfor %}
                    </div>

                    <div class="campo">
                        <label>Confirmar contraseña</label>
                        <div class="password-input">
                            {{ signup_form.confirmation_password(class="input-text", placeholder="Confirme su contraseña", id="confirmation_password") }}
                            <i id="confirmation_password-icon" class="fas fa-eye" onclick="togglePasswordVisibility('confirmation_password')"></i>
                        </div>
                        {% for error in signup_form.confirmation_password.errors %}
                            <div class="error">{{ error }}</div>
                        {% endfor %}
                    </div>
                </div><!--contenedor-campos-->

                <div>
                    <input class="boton" type="submit" value="Crear">
                </div>
            </fieldset>
        </form>
    </main>

    <footer class="footer">
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="index.html">
                    <h1 class="logo__nombre noMargin centrarTexto">Alert<span class="logo__bold">AI</span></h1>
                </a>
                <div class="parrafo__footer">
                    <p>¿Ya tienes cuenta? Inicia sesión aquí: </p>
                    <nav class="navegacion">
                        <a class="navegacion__enlace conFondo" href="{{ url_for('auth.login_page') }}">Iniciar sesión</a>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <script src="{{ url_for('static', filename='js/password_toggle.js') }}"></script>
</body>
</html>
