{% import 'macros.html' as macros%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html'%}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    {% include 'loader.html' %}
    
    <h3 class="centrarTexto">Bienvenido {{ username }}</h3>           

    <div class="cameras-container">
        {% set image_map = {
            'home': 'casa.jpg',
            'building': 'edificio.png',
            'square': 'plaza.jpg',
            'street': 'calle.jpg',
            'personalized': 'personalizado.jpg'
        } %}
        
        {% for camera in cameras %}
            {% set place = camera['place'] %}
            {% set image_src = '../static/img/' + (image_map[place] if image_map.get(place)) %}
            <div class="camera-folder" data-camera-id="{{ camera['_id'] }}">
                <img src="{{ image_src }}">
                <div class="camera-options">
                    <i class="fa-solid fa-pen-to-square"></i>
                    <i class="fa-solid fa-trash"></i>
                </div>
                <h5 class="camera-name">{{camera['cameraName']}}</h5>
            </div>
        {% endfor %} 

        <div id="openModal">
            <img class="poster" src="../static/img/ideogram.jpeg">
        </div>

    </div>

    <div id="modal" class="modal-container">
        <div id="modal-content" class="modal-content">
            <h4 class="modal-tittle">¿Qué tipo de cámara desea ingresar?</h4>
            <div class="camera-types">
                <div class="camera-type">
                    <div class="poster">
                        <img src="https://i.pinimg.com/564x/8a/e5/ee/8ae5ee6e181a1e2e0c77d7fe9ea1bc34.jpg"
                            class="camera-image"
                            data-camera-type="web"
                        >
                    </div>
                    <div class="slide-title">
                        <h5>Camara web</h5>
                    </div>
                </div>
                <div class="camera-type">
                    <div class="poster">
                        <img src="https://i.pinimg.com/236x/ae/3f/9b/ae3f9bbdce2ba7abb70ee7f625c09b9d.jpg"
                            class="camera-image"
                            data-camera-type="security"
                        >
                    </div>  
                    <div class="slide-title">
                        <h5>Camara de seguridad</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/modal.js') }}"></script>
    <script src="{{ url_for('static', filename='js/image_style.js') }}"></script>
    <script src="{{ url_for('static', filename='js/cameraType.js') }}"></script>
    <script src="{{ url_for('static', filename='js/deleteAndEditCameras.js') }}"></script>

</body>